div.wrapper
{
	width:100%;
	margin:0px;
	padding:0px;
}

div.head
{
	border:2px solid #85A3E0;
	border-radius:7px;
	background-color:#85A3E0;
	font-family:verdana;
	font-size:30;
	color:#ffffff;
}

form#visit
{
	float:right;
}
div.head div
{
	margin:0 auto;
	padding:10px;
	width:130px;
}

div.content
{
	margin:0 auto;
	border:2px solid #B2B299;
	width:570px;
	padding:10px;
	border-radius:5px;
	background-color:#B2B299;
}
span.signin,div.content td.form_text
{
	font-family:verdana;
	font-size:20px;
	color:#ffffff;
}

div.content td.form_text
{
	font-family:sans-serif;
	font-size:14px;
}

input
{
	border-radius:2px;
	border:1px solid ##434859;
	height:25px
}

td
{
	color:#ffffff;
}
span.sign_in
{
	font-family:verdana;
}
button
{
	color:#ffffff;
	background-color:#59594C;
	border:1px solid #59594C;
	border-radius:2px;
	height:25px;
}
a
{
	text-decoration:none;
	font-family:verdana;
	font-size:14px;
}

span.err
{
	color:#ff0000;
}

div.category_wrapper,div.article_wrapper
{
	width:260px;
	border:5px solid #B49B82;
	padding:10px;
	border-radius:10px;
	background-color:#B49B82;
	float:left;
}

div.article_wrapper
{
	float:right;
	width:660px;
	height:450px;
	overflow:scroll;
}

div.manage_categories,div.manage_articles
{
	margin-left:7px;
}
div.selectbox
{
	padding-top:5px;
	margin-left:7px;
}

div.content_wrapper
{
	margin:0 auto;
	padding:20px;
	width:1020px;
}

table.article_table
{
	width:140%;
}

table.article_table td
{
	border:1px solid black;
}

div.confirm_art_del,div.confirm_cat_del
{
	border:1px solid black;
	border-radius:5px;
	position:absolute;
	z-index:1;
	background-color:#ffffff;
	top:300px;
	left:635;
	display:none;
}
div.confirm_cat_del
{
	top:300px;
	left:170;
}
div.confirm_cat_del table, div.confirm_art_del table
{
	width:300px;
	height:70px;
	
}
div.confirm_cat_del table td input#sure, div.confirm_art_del table td input#sure
{
	margin-left:50px;
}
div.confirm_cat_del table td,div.confirm_art_del table td
{
	color:#000000;
}

div.articles
{	
	border:2px solid #6666A3;
	border-radius:5px;
}

div.articles_header
{
	font-family:verdana;
	font-size:25px;
	color:#ffffff;
	border-bottom:2px solid #6666A3;
	background-color:#6666A3;
}

div.blog_content
{
	padding:10px;
}

div.wrap
{
	border:2px solid #A366E0;
	border-radius:3px;
	width:60%;
}

div.title
{
	background-color:#A366E0;	
	border-bottom:2px solid #A366E0;
	color:#ffffff;
	padding:1px;
}

div.description
{
	padding:5px;
}

div.to_other
{
	float:right;
	margin-right:15px;
}

div.post,div.modify
{
	font-size:13px;
}

td.posted,td.modified,td.act
{
	width:96px;
}
